Cho t么i code lab 4 v峄i 么ng
T么i ms lm c nh瓢 qua th么i 么
Ch瓢a bt lm ki峄u j nx 
ザ
uk c农ng c
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LAB 4</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
 <div class="show">
    <tr>
      <td>Show all products (9)</td>
      <td>Show image only</td>
    </tr>
  </div>
    <div class="container product-info">
      <div class="product-list">
        <div class="wrapper">
          <img src="images/Image.png" alt="" class="product-img" />
          <div class="product-content">
            <h3 class="product-title">Cappuccino</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$8</span>
          </div>
        </div>
        <div class="wrapper">
          <img src="images/Image (1).png" alt="" class="product-img" />
          <div class="product-content">
            <h3 class="product-title">Matcha Latte</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$10</span>
          </div>
        </div>
        <div class="wrapper">
          <img src="images/Image (2).png" alt="" class="product-img" />
          <div class="product-content">
            <h3 class="product-title">Golden Latte</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$8</span>
          </div>
        </div>
        <div class="wrapper">
          <img src="images/Image (3).png" alt="" class="product-img" />
          <div class="product-content">
            <h3 class="product-title">Hot Chocolate</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$12</span>
          </div>
        </div>
        <div class="wrapper">
          <img src="images/Image (4).png" alt="" class="product-img" />
          <div class="product-content">
            <h3 class="product-title">Iced Latte</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$12</span>
          </div>
        </div>
        <div class="wrapper">
          <img src="images/Image (5).png" alt="" class="product-img" />
          <div class="product-content">
<h3 class="product-title">Plain Croissant</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$20 / Box (8 pieces)</span>
          </div>
        </div>
        <div class="wrapper">
          <img src="images/Image (6).png" alt="" class="product-img" />
          <div class="product-content">
            <h3 class="product-title">French Macaron</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$30 / Box (12 pieces)</span>
          </div>
        </div>
        <div class="wrapper">
          <img src="images/Image (7).png" alt="" class="product-img" />
          <div class="product-content">
            <h3 class="product-title">Original Blend Coffee</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$12.99 / Pack</span>
          </div>
        </div>
        <div class="wrapper">
          <img src="images/Image (8).png" alt="" class="product-img" />
          <div class="product-content">
            <h3 class="product-title">Energy Cookie</h3>
            <div class="full-name">
              <img src="images/Photo.svg" alt="" class="avatar-img" />
              <span class="avatar-name">Minden Bakery</span>
            </div>
            <span class="price">$28 / Box (6 pieces)</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  .wrapper {
    width: 390px;
    height: 551px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }
  
  .product-img {
    width: 390px;
    height: 330px;
  }
  
  .product-title {
    font-size: 24px;
    font-weight: 700;
    color: #1a191f;
  }
  
  .avatar-name {
    font-size: 20px;
    font-weight: 400;
    color: #1a191f;
  }
  
  .price {
    font-size: 20px;
    font-weight: 400;
    color: #000;
  }
  
  .product-content {
    padding: 30px 27px 35px 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .full-name {
    display: flex;
    gap: 17px;
    align-items: center;
  }
  
  .product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .side-bar {
    min-width: 344px;
    height: 601px;
  }
  
  .product-info {
    display: flex;
    gap: 20px;
  }
  
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .product-image {
    position: relative;
  }
  
  .heart {
    position: absolute;
    right: 22px;
    top: 16px;
  }
芒y 么 啤i
oke 么ng
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.wraper{
    width: 390px;
    height: 551px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.product-img{
    width: 390px;
    height: 333px;
}
.product-title{
    font-size: 24px;
    font-weight: 700;
    color: #1a191f;
}
.avatar-name{
    font-size: 20px;
    font-weight: 400;
    color: #1a191f;
}
.price{
    font-size: 20px;
    font-weight: 400;
    color: #000;
}
.product-content{
    padding: 30px 27px 35px 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.full-name{
    display: flex;
    gap: 17px;
    align-items: center;
}
.product-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px 0;
    justify-content: space-between;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.product-image {
    position: relative;
}
.heart {
    position: absolute;
    right: 22px;
    top: 16px;
}
.content{
    display: flex;
    width: 1524px;
    height: 65px;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
}
.content-2{
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
